<section class="resume-section section-experience">
  <header>
    <h2>Experience</h2>
  </header>
  <main>
    <ul>
      <li>
        <header>
          <h3>Senior DevOps Engineer II</h3>
          <figure>
            <div>M1 Finance - Chicago, IL</div>
            <div>05/2021 – Present</div>
          </figure>
        </header>
        <main>
          <p>Providing platform development and SRE support. Responsible for setting platform standards primarily focused around the use of Terraform and AWS. Working with app development teams and vendors to gather and implement infrastructure requirements.</p>
          <p><b>Other Technologies:</b> Kubernetes, Flux, Helm, Linkerd, Project Contour, Cloudflare, Confluent, Kafka Connect, Datadog, Humio, Hashicorp Vault, Artifactory, Python, Git</p>
          <p><b>Development Methodology:</b> Agile, Kanban, organized via Asana</p>
        </main>
      </li>

      <li>
        <header>
          <h3>Solution Architect</h3>
          <figure>
            <div>Slalom - Chicago, IL</div>
            <div>09/2016 – 05/2021</div>
          </figure>
        </header>
        <main>
          <p>Backend and devops-focused architect with direct client interaction to establish both technical and functional requirements. Presently focused on leading the development of Terraform modules using Azure and Kubernetes. Deploying Terraform and our application using CI/CD pipelines in Azure Devops. Additionally, assisting with the development of a Spring Boot/Kotlin/Reactor backend persisting to Cosmos DB and Azure Storage Blobs.</p>
          <p><b><a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=1&t=c&d=2018-11-26&ci=AWS00698898">AWS Certified Solution Architect</a></b> 
          <p><b>Other Technologies:</b> Docker, Ansible, Jenkins, Nexus, Java, Dropwizard, GraphQL, Atomix, Atlassian Fugue, Groovy, Python, Git</p>
          <p><b>Development Methodology:</b> Agile, Certified SAFe 3.0 Agilist</p>
        </main>
      </li>

      <li>
        <header>
          <h3>Senior Software Engineer</h3>
          <figure>
            <div>Slalom - Chicago, IL</div>
            <div>05/2013 – 09/2016</div>
          </figure>
        </header>
        <main>
          <p>Full stack devops of customer-facing websites and RESTful services in the healthcare, hospitality, and supply chain logistics industries. Working directly with client project managers and development team leads to plan, design, and develop feature stories and new RESTful services. Mentoring junior employees.</p>
          <p><b>Technologies:</b> Angular, Backbone, Spring Web, Tomcat, Hibernate, MongoDB, DB2, AWS, Ansible, Puppet, Bamboo, Jenkins, Git, Java, Ruby, Groovy, Python, BASH scripting, Git, Vim</p>
          <p><b>Development Methodology:</b> Agile</p>
        </main>
      </li>

      <li>
        <header>
          <h3>Senior Software Engineer</h3>
          <figure>
            <div>Orbitz Worldwide - Chicago, IL</div>
            <div>11/2010 – 05/2013</div>
          </figure>
        </header>
        <main>
          <p>Full stack devops for hotel content, search, booking engine, and customer service management software. Customer-facing and internally-facing web-based UI development. Worked directly with project managers and team leads to develop and coordinate deployment of full stack features.</p>
          <p><b>Technologies:</b> Java, Spring, Hibernate, Javascript, Python, JBoss, Oracle SQL, MongoDB, CouchBase, Alfresco, Google Protocol Buffers, Graphite, AppDynamics, Jenkins, Glu, BASH scripting, Git, Vim</p>
          <p><b>Development Methodology:</b> Agile</p>
        </main>
      </li>

      <li>
        <header>
          <h3>Tech Lead</h3>
          <figure>
            <div>AIT - Cleveland, OH</div>
            <div>10/2005 – 11/2010</div>
          </figure>
        </header>
        <main>
          <p>Designed and lead a team of four engineers to develop, an internally-facing mechanical-engineering-supply inventory search and order systems.</p>
          <p><b>Technologies:</b> Java, Microsoft SQL Server, Eclipse RCP, Equinox (OSGi), IBM Websphere, SOAP services</p>
          <p><b>Development Methodology:</b> Waterfall, Rational Unified Process</p>
        </main>
      </li>
    </ul>
  </main>
</section>
