<section class="resume-section section-reference">
  <header>
    <h2>References</h2>
  </header>
  <main>
    <ul>
      <li>
        <header>
          <h3>Paul Bourdel</h3>
          <span>Solution Architect at Slalom Consulting</span>
        </header>
        <main>
          <a href="tel:18479625894" target="_blank">(847) 962-5894</a>
          <a href="mailto:pb8226@gmail.com" target="_blank">pb8226@gmail.com</a>
        </main>
      </li>

      <li>
        <header>
          <h3>Bill Hinderman</h3>
          <span>CTO at Direct™, former Lead Site Optimization Engineer at Orbitz Worldwide</span>
        </header>
        <main>
          <a href="tel:17083053993" target="_blank">(708) 305-3993</a>
          <a href="mailto:bill@billhinderman.com" target="_blank">bill@billhinderman.com</a>
        </main>
      </li>

      <li>
        <header>
          <h3>Ravi Arora</h3>
          <span>Feature Team Lead at Orbitz Worldwide</span>
        </header>
        <main>
          <a href="tel:12624881065" target="_blank">(262) 488-1065</a>
          <a href="mailto:ravi.arora@orbitz.com" target="_blank">ravi.arora@orbitz.com</a>
        </main>
      </li>
    </ul>
  </main>
</section>
