<section class="resume-section section-experience">
  <header>
    <h2>Experience</h2>
  </header>
  <main>
    <ul>
      <li>
        <header>
          <h3>Solution Architect</h3>
          <figure>
            <div>Slalom - Chicago, IL</div>
            <div>09/2016 – Present</div>
          </figure>
        </header>
        <main>
          <p>Full stack devops with direct client interaction to establish both technical and functional requirements. Client technology stack analysis to generate recommendations for future technology adoption. Mass data migration from a legacy ERP to AWS S3. Presently focused on leading the development of CI/CD pipelines using Jenkins pipelines to support a React-based front-end and a Dropwizard/GraphQL focused back-end persisting to S3.</p>
          <p><b>AWS Technologies:</b> ECS, EC2, Elastic Beanstalk, Lambda, S3, API Gateway, CloudFront, Route 53, ACM, Elastic Search, CloudTrail, CloudWatch, CloudConfig, Cloud Formation, IAM, SES</p>
          <p><b>Other Technologies:</b> Terraform, Docker, Ansible, Jenkins, Microsoft Azure, Nexus, Java, Groovy, Python, Git</p>
          <p><b>Development Methodology:</b> Agile, Certified SAFe 3.0 Agilist</p>
        </main>
      </li>

      <li>
        <header>
          <h3>Senior Software Engineer</h3>
          <figure>
            <div>Slalom - Chicago, IL</div>
            <div>05/2013 – 09/2016</div>
          </figure>
        </header>
        <main>
          <p>Full stack devops of customer-facing websites and RESTful services in the healthcare, hospitality, and supply chain logistics industries. Working directly with client project managers and development team leads to plan, design, and develop feature stories and new RESTful services. Mentoring junior employees.</p>
          <p><b>Technologies:</b> Angular, Backbone, Spring Web, Tomcat, Hibernate, MongoDB, DB2, AWS, Ansible, Puppet, Bamboo, Jenkins, Git, Java, Ruby, Groovy, Python, BASH scripting, Git, Vim</p>
          <p><b>Development Methodology:</b> Agile</p>
        </main>
      </li>

      <li>
        <header>
          <h3>Senior Software Engineer</h3>
          <figure>
            <div>Orbitz Worldwide - Chicago, IL</div>
            <div>11/2010 – 05/2013</div>
          </figure>
        </header>
        <main>
          <p>Full stack devops for hotel content, search, booking engine, and customer service management software. Customer-facing and internally-facing web-based UI development. Worked directly with project managers and team leads to develop and coordinate deployment of full stack features.</p>
          <p><b>Technologies:</b> Java, Spring, Hibernate, Javascript, Python, JBoss, Oracle SQL, MongoDB, CouchBase, Alfresco, Google Protocol Buffers, Graphite, AppDynamics, Jenkins, Glu, BASH scripting, Git, Vim</p>
          <p><b>Development Methodology:</b> Agile</p>
        </main>
      </li>

      <li>
        <header>
          <h3>Tech Lead</h3>
          <figure>
            <div>AIT - Cleveland, OH</div>
            <div>10/2005 – 11/2010</div>
          </figure>
        </header>
        <main>
          <p>Designed and lead a team of four engineers to develop, an internally-facing mechanical-engineering-supply inventory search and order systems.</p>
          <p><b>Technologies:</b> Java, Microsoft SQL Server, Eclipse RCP, Equinox (OSGi), IBM Websphere, SOAP services</p>
          <p><b>Development Methodology:</b> Waterfall, Rational Unified Process</p>
        </main>
      </li>
    </ul>
  </main>
</section>
